@charset "UTF-8";
*, foundline *::before,
*::after {
  margin: 0;
  /* マージンは0に */
  padding: 0;
  /* パディングも常に0に */
  box-sizing: border-box;
  /* もちろん、より直感的なbox-sizingに設定 */
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
  /* hiddenは非表示を意味します */
}

:where(html) {
  -webkit-text-size-adjust: none;
  /* iOSのランドスケープでテキストが調整されないようにする */
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
    /* 何かにフォーカスがある場合のみスムーズスクロール */
  }
}
:where(body) {
  block-size: 100%;
  /* サファリ以外のブラウザのフォールバック */
  block-size: 100dvb;
  /* 1dvbは動的ビューポートの長さの1%、100dvbで高さいっぱいに */
  line-height: 1.7;
  /* アクセシブルな行の高さ */
  font-family: system-ui, sans-serif;
  /* timeの代わりにシステムフォントを使用 */
  -webkit-font-smoothing: antialiased;
  /* テキストのレンダリングを改善 */
}

:where(input, button, textarea, select) {
  font: inherit;
  /* フォーム コントロールは親フォントを継承 */
  color: inherit;
  /* カラーも継承 */
}

:where(textarea) {
  resize: vertical;
  /* テキストエリアの水平リサイズを無効に */
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
  /* インタラクティブなものにカーソルを合わせる */
}

:where(:disabled) {
  cursor: not-allowed;
  /* フォームコントロール無効時のカーソルを許可しない */
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
  /* ラベルにもカーソルを許可しない */
}

:where(button) {
  border-style: solid;
  /* ボタンのボーダーのスタイルを設定しやすくする */
}

:where(a) {
  text-underline-offset: 0.2ex;
  /* 下線の上にスペースを追加する */
}

:where(ul, ol) {
  list-style: none;
  /* ビュレットを削除、必要に応じて手動で追加する */
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
  /* 置換された要素をより予測可能にする */
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  /* images should never overflow past the available space */
  block-size: auto;
  /* アスペクト比を保持 */
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
  /* 長い単語は改行 */
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  /* 見出しの行の高さを減らす */
}

:where(hr) {
  /* より一貫性のある、スタイリッシュなhr */
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  /* より一貫性のある、カスタマイズ可能なフォーカスのアウトライン */
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

/* .visually-hiddenは後のカスケードレイヤーを上書きするために!importantを使用 */
:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
}
header .headerBox {
  position: fixed;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
header .headerBox .headerTitle {
  width: 65%;
  margin-left: 1rem;
  font-size: 1.5rem;
}
header .headerBox .headerNav {
  width: 30%;
  max-width: 400px;
}
header .headerBox .headerNav nav ul {
  display: block;
  text-align: right;
}
header .headerBox .headerNav nav ul li {
  margin-right: 1.5rem;
  color: white;
}
header .headerBox .headerNav nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
header .headerBox .headerNav nav ul li a:hover {
  color: #383838;
  transition: 0.3s;
}
header .headerBox .headerNav nav ul .on,
header .headerBox .headerNav nav ul .off {
  transition: 0.3s;
}
header .headerBox .headerNav nav ul .on:hover,
header .headerBox .headerNav nav ul .off:hover {
  transition: 0.3s;
  color: #383838;
}
header .headerBox .headerNav nav ul .action {
  display: none;
}

#top {
  position: relative;
}
#top .topTitle {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
}
#top .topTitle p {
  font-size: 2rem;
  max-width: 1000px;
}
@media (width <= 780px) {
  #top .topTitle p {
    font-size: 1rem;
  }
}
#top .topTitle h1 {
  font-size: 5rem;
}
@media (width <= 780px) {
  #top .topTitle h1 {
    font-size: 3rem;
  }
}
@media (width <= 500px) {
  #top .topTitle h1 {
    font-size: 2.2rem;
  }
}
#top .topBar .nameBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top .topBar .nameBox .name01 {
  font-size: 6rem;
  writing-mode: vertical-lr;
  margin-top: 2rem;
}
@media (width <= 780px) {
  #top .topBar .nameBox .name01 {
    font-size: 4rem;
  }
}

#service {
  transition: 0.5s;
}
#service .sideScrollContainer01 {
  height: 100%;
}
#service .sideScrollContainer01 #service01 {
  width: 100%;
  height: 100%;
  position: relative;
}
#service .sideScrollContainer01 #service01 .serviceBox {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}
@media (width <= 780px) {
  #service .sideScrollContainer01 #service01 .serviceBox {
    top: 55%;
  }
}
#service .sideScrollContainer01 #service01 .serviceBox h3 {
  margin-bottom: 1rem;
}
#service .sideScrollContainer01 #service01 .serviceBox .serviceBox01 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
}
#service .sideScrollContainer01 #service01 .serviceBox .serviceBox02 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (width <= 780px) {
  #service .sideScrollContainer01 #service01 .serviceBox .serviceBox02 {
    flex-direction: column;
  }
}
#service .sideScrollContainer01 #service01 .serviceBox .serviceBox02 div {
  text-align: center;
  margin-bottom: 3rem;
}
#service .sideScrollContainer01 #service02 {
  width: 100%;
}
#service .sideScrollContainer01 #service03 {
  width: 100%;
}
#service .sideScrollContainer01 #service04 {
  width: 100%;
}

#works {
  position: relative;
}

#contact {
  position: relative;
}

html {
  scroll-behavior: smooth;
  background-color: #F9F7F4;
}
html body main {
  height: 100%;
}
html body main section {
  width: 100%;
  height: 100%;
  border-bottom: black 3px solid;
}
html body main section .title {
  text-align: center;
  margin-bottom: 5rem;
}
@media (width <= 780px) {
  html body main section .title {
    margin-bottom: 2rem;
  }
}
html body main section .title h2 {
  font-size: 3rem;
}
@media (width <= 780px) {
  html body main section .title h2 {
    font-size: 2.5rem;
  }
}
html body main section .scrollBotton {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1rem;
}
html body .rightBar {
  position: absolute;
  right: 0%;
  width: 30%;
  max-width: 400px;
  min-width: 110px;
  height: 100%;
  background-color: #C9BC9C;
  color: white;
}
html body .rightBar .rightBarText {
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 0.5rem;
}
html body .rightBar .rightBarText h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media (width <= 780px) {
  html body .rightBar .rightBarText h3 {
    font-size: 1.2rem;
  }
}
@media (width <= 500px) {
  html body .rightBar .rightBarText h3 {
    font-size: 1rem;
  }
}
html body .rightBar .rightBarText p {
  font-size: 1rem;
}
@media (width <= 500px) {
  html body .rightBar .rightBarText p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */